body {color: #FFFFFF;
    background-color: #6382ad;}
a {color: #a3e5ff;}
nav a {color: #6382ad;}
nav a:hover {color: #b3c3c9;}
nav {background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 30px;
    width: 11%;}
h1 {color: #f7d0ab;}