body {
    margin: 0px;
    background-color: #595959;
    color: white;
}

.nav {
    display: flex;
    justify-content:space-between;
    background-color: black;
}

@media only screen and (max-width: 785px) {
    .navlinks {
        flex-direction:column;
    }
    .navlinks {
        padding-bottom: 20px;
    }
    .navlogodiv {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media only screen and (max-width: 1600px) {
    .section1 {flex-direction: column;
    padding-top: 0px;}
    .staffphoto {display: flex;
        flex-direction: row;
    }
    .lfsbphoto {
        margin: auto;
    }
}   

a {color:white;}

a:hover {color:mediumblue;}

.watch, .ourstaff, .home {
    color: mediumblue;
}

.navlinks {
    display: flex;
    padding-top: 40px;
    padding-right: 40px;
}

.navlinks a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    padding-left: 25px;
    padding-right: 25px;
}

.navlogo {
    height: 150px;
    width: auto;
    padding-left: 20px;
    /* max-width: 100%; */
}

.homeimage {
    max-width: 100%;
    height: auto;
} 


.section1 {
    display: flex;
    justify-content:space-around;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.slogan {
    padding-left: 50px;
}

.slogan h1{
    font-size: 600%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.staffphoto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 40px;
    padding-right: 50px;
}

hr {
    border-color: mediumblue;
    margin-top: 20px; 
    margin-left: 20px;
    margin-right: 20px;
}

main {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: mediumblue;
}

footer div {
    display: flex;
    justify-content:space-evenly;
}

.instagram {
    height: 50px;
}

.tiktok {
    height: 50px;
}

.twitter {
    height: 50px;
}

main h2 {
    color: mediumblue;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.clips {
    display: flex;
}

.episodes {
    display: flex;
}

/*

 

@media only screen and (min-width: 1600px) {
    .section1 {flex-direction: row;}
    .staffphoto {display: flex; 
        flex-direction: column;
        justify-content:center;}
}

*/